@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Mukta');

.mute-box {
  padding: 0px;
  margin: 0px; 
}

#nav-header {
  backround-color: #green; 
  height: 50px; 
  width: 200px; 
  border: solid 1px; 
  position: absolute;
  right: 100px; 
  top: 25px; 
}

#main-content {
  position: absolute; 
  top: 50px; 
  right: 300px;
 }

#list-content {
  float: left; 
 
}

#* {
  border: solid 5px red; 
  //display: inline; 

}

body {
  background-color: #D3D3D3; 
  font-family: 'Indie Flower', cursive;
    padding: 0px;
  margin: 0px; 
}

img {
  height: 200px;
  width: 200px; 
}

#catPic {
  filter: drop-shadow(30px 10px 4px #4444dd);
  height: 300px; 
  width: 300px; 
}

.allPics {
  border: dotted 12px black;
}
